node_modules/
npm-debug.log
yarn-error.log
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

.DS_Store
Thumbs.db
*.tmp


package-lock.json
yarn.lock
pnpm-lock.yaml
dist/
build/
*.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local


*.bak
*.backup
*.swp
